code/.vs
code/x64
code/data-files/debugging_db.db
code/data-files/g3d-license.txt
code/data-files/log.txt
code/data-files/*.db
code/data-files/*.csv
code/data-files/*.pdn
code/data-files/result_data
code/data-files/experimentconfig.Any
code/data-files/userconfig.Any
code/data-files/systemconfig.Any
code/data-files/startupconfig.Any
code/data-files/userstatus.Any
newGfx/.vs
newGfx/x64
newGfx/data-files/g3d-license.txt
newGfx/data-files/log.txt
"code/scripts/event logger/software/Logs"
code/scripts/configs/*.Any
results/
*.pyc
reaction/.vs
reaction/x64
reaction/data-files/debugging_db.db
reaction/data-files/g3d-license.txt
reaction/data-files/log.txt
reaction/data-files/*.db
reaction/data-files/*.csv
reaction/data-files/*.pdn
reaction/data-files/result_data
reaction/data-files/experimentconfig.Any
reaction/data-files/userconfig.Any
reaction/data-files/systemconfig.Any
reaction/data-files/startupconfig.Any
reaction/data-files/userstatus.Any
